.textCenter {
	text-align: center;
}

.bob {
	padding: 20px;
    margin: 0 auto;
    display: inline-block;
}

.jummy {
	padding: 15px;
	background-color: lightblue;
	border-radius:10px;
	font-size: medium;
    display: block;
    margin: 0 auto;
    width:200px;
}

.hide {
	display: none;

}
